@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
  min-height: 100vh;
  background-color: #f9fafb;;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

.font-mulish{
  font-family: "Mulish", sans-serif !important;
}
.errorOrEmptyState{
  color:var(--dark-color);
}

:root{
  --primary-color: #5ACCCC;
  --secondary-color: #F76434;
  --light-color: #ffffff;
  --dark-color: #335C6E;
}

li{
  list-style-type: none;
}